*{
    padding: 0;
    margin:0;
}

.container {
    width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .block {
    width: 250px;
    min-height: 200px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    margin: 10px 0px;
    cursor: pointer;
}
.container .block img {
    max-width: 100%;
    min-height: 200px;
}

.container .block.active {
    background: black;
    color:red;
}

.chess {
    width: 320px;
    margin: 20px auto;
    border: 1px solid black;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}
.chess>div {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess .black {
    background: black;
}

.chess .white {
    background: white;
}